/* #wholepage {
    background-color: "#FBF4F3";
    min-height: 100vh;
} */
body {
    background-color: "#FBF4F3";
}
#menubox{
    width: 80%;
    margin-top: 5%;
}
.menubutton {
    margin: 0% 1% 1% 0%;
    background-color: #626E60;
    border: None;
}
/* .td {
    overflow-wrap: normal;
    min-width: 160px;
    max-width: 160px;
} */