.viewFullMessage {
  border: 2px solid black;
  color: white;
  cursor: pointer;
  border-radius: 25px;
}

.imageOnTop {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 250px;
  text-align: center;
  margin: 0% 40%;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 10px;
  position: relative;
  top: -20px;
}

.alignTable {
  position: relative;
  top: -30px;
}

.tabbing {
  padding-right: 40px;
  color: white;
}
