 .text-example {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        height: 250px;
        text-align: center;
        margin: 0% 40% ;
        align-items: center;
        padding-bottom: 20px;
        padding-top: 10px; 	
        position: relative;
        top: -20px;
}


.yo
{
    position: relative;
    top: -30px;	
}

.tabbing{
	padding-right: 40px;
	color: white
}
