.discount{
	width: 50%;
}
.title {
    font-size: 2vw;
    margin-bottom: 4%;
}
.wheel{
    background-color: #99AA93;
    border-radius: 1rem;
    padding: 5%;
    margin-top: 0.8%;
}

.inBox{

	width: 50%
}
.updatebutton{
    color: white;
    background-color: #3C3C3C;
    border-color: white;
    border-width: thin;
    border-radius: 1rem;
}
