body {
  background-color: #fbf4f3;
}

.box {
  border: 2px solid red;
  margin: 10px;
  border-radius: 5px;
  background-color: #3c3c3c;
  color: white;
  position: relative;
  border-color: white;
}

h3 {
  padding-right: 20px;
}

.nav-link {
  background: #955f61;
  color: white;
}
