body {
    background-color: #FBF4F3;
}

.box{

  border: 2px solid red;
  margin: 10px; 
  border-radius: 5px; 
  background-color: #3C3C3C;
  position: relative;
  border-color: white;
}

#im{
  height: 30px;
  margin: 10px 10px;
  margin-top: 16px;
  border-radius: 50%;
}

h3 {
  padding-right: 20px;
}

.nav-link{
    background: #955F61;
    color: white;
}
  
 